<nav>
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Home page</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./add-item">Add Items</a></li>
        </ul>
    </div>
</nav>
