<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>To Do</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Home page</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./add-item">Add Items</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <ul class="collection with-header">
            <% if (items.length> 0) { %>
                <% items.forEach(item => { %>
                    <li class="collection-item">
                        <div><%= item.name %> $<%= item.price %> 
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">delete</i>
                            </a>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </li> 
                <% }) %>
                
            <%} else { %>
                <li class="collection-item">
                    <div>No items founds</div>
                </li>
            <%} %>
        </ul>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>